* {
    padding-top: 5px;
}

html {
    min-height: 100%;
}



body {
    padding-top: 80px;
    background: rgb(107,106,47);
    background: linear-gradient(326deg, rgba(107,106,47,1) 0%, rgba(95,9,121,1) 57%, rgba(158,0,255,1) 100%);
    background-size: cover;
}

.container {
    background-color: lightsteelblue;
    border-radius: 12px;
    padding: 24px;
}


a.btn {
    display: block;
    padding-bottom: 12px;
}

time {
    display: block;
}

.post {
    margin-bottom: 24px;
}

